<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>住宿信息</title>
    <link rel="stylesheet" href="$!{www}/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="$!{www}/css/flat-ui/css/flat-ui.css"/>
</head>
<body>
<div class="container">
    <div class="form row">
        <div class="form-horizontal col-md-offset-3">
            <div class="col-md-9">
                <div class="form-group">
                     <label>旅馆</label>
                    <input type="text" class="form-control" value="$!{hotel.name}" readonly>
                    <input type="hidden" class="form-control" id="houseId" value="$!{hotel.id}" name="houseId" />
                </div>
                <div class="form-group">
                    <label for="roomTimeStr">入住时间</label>
                    <input type="datetime-local" class="form-control" id="roomTimeStr" name="roomTimeStr"/>
                </div>
                <div class="form-group">
                    <label for="roomDays">住宿天数</label>
                    <input type="text" class="form-control" id="roomDays" name="roomDays"/>
                </div>
                <div class="form-group">
                    <label for="roomAmount">需要房间数</label>
                    <input type="text" class="form-control" id="roomAmount" name="roomAmount"/>
                </div>
                <div class="form-group">
                    <label>押金</label>
                    <input type="text" class="form-control" value="$!{hotel.prePay}" readonly/>
                </div>
                <div class="form-group">
                    <label>每晚费用</label>
                    <input type="text" class="form-control" value="$!{hotel.price}" readonly/>
                </div>
                <button type = "button" class = "btn btn-success pull-right btn_pay">提交</button>
            </div>
        </div>
    </div>
</div>
<script src="$!{www}/js/jquery-3.2.1.min.js"></script>
<srcipt src="$!{www}/js/bootstrap/bootstrap.min.js"></srcipt>
</srcipt><script src="$!{www}/js/layer/layer.js"></script>
<script src="$!{www}/js/house/house.js"></script>
</body>
</html>