<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzg.xhd.tbooking.mapper.CityMapper" >
  <resultMap id="BaseResultMap" type="com.tzg.xhd.tbooking.entity.City" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="INTEGER" />
    <result column="population" property="population" jdbcType="INTEGER" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="history" property="history" jdbcType="VARCHAR" />
    <result column="weather" property="weather" jdbcType="VARCHAR" />
    <result column="food" property="food" jdbcType="VARCHAR" />
    <result column="cultural" property="cultural" jdbcType="VARCHAR" />
  </resultMap>
</mapper>