<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="$!{www}/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="$!{www}/css/flat-ui/css/flat-ui.css"/>
</head>
<body>
<div class="container">
    <div class="form row">
        <div class="form-horizontal col-md-offset-3">
            <div class="col-md-9">
                <!--#foreach($city in $citys)-->
                  <!--<label class="label label-info">$!{city.name}</label>-->
                <!--#end-->
                <table class="table table-hover">
                    #foreach($city in $citys)
                    <tr>
                        <td><img src="$!{city.img}" class="img-rounded" width="200"></td>
                        <td><button type="button" class = "btn btn-success btn_citys" value="$!{city.id}">$!{city.name}</button></td>
                        <td>$!{city.history}</td>
                    </tr>
                    #end
                </table>
            </div>
        </div>
    </div>
</div>

<script src="$!{www}/js/jquery-3.2.1.min.js"></script>
<srcipt src="$!{www}/js/bootstrap/bootstrap.min.js">
</srcipt><script src="$!{www}/js/layer/layer.js"></script>
<script src="$!{www}/js/city/province.js"></script>

</body>
</html>