<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:mvn="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <!-- 扫描web相关的bean -->
    <context:component-scan base-package="com.tzg.xhd.tbooking.controller"/>

    <!-- 开启SpringMVC注解模式 -->
    <!-- 指定自己定义的validator -->
    <mvc:annotation-driven validator="validator"  >
        <mvc:async-support default-timeout="30000"/>
    </mvc:annotation-driven>

    <!--向容器自动注入配置-->
    <context:annotation-config />

    <!-- 静态资源默认servlet配置 -->
    <mvc:default-servlet-handler/>
    <mvc:resources mapping="/css/**" location="/WEB-INF/static/css/" />
    <mvc:resources mapping="/js/**" location="/WEB-INF/static/js/" />
    <mvc:resources mapping="/img/**" location="/WEB-INF/static/img/" />

    <!-- 配置jsp 显示ViewResolver -->
    <!--之后使用模板引擎可以在这里修改,当然pom和web.xml也有地方需要修改-->
    <!--<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
        <!--<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>-->
        <!--<property name="prefix" value="/WEB-INF/views/"/>-->
        <!--<property name="suffix" value=".html"/>-->
    <!--</bean>-->

    <!--拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <!--不拦截所有请求，只拦截必需用户登录权限的url-->
            <mvc:mapping path="/user/userCenter"/>
            <mvc:mapping path="/user/orderRecord"/>
            <!--不拦截静态资源-->
            <mvc:exclude-mapping path="/js/**"/>
            <mvc:exclude-mapping path="/css/**"/>
            <mvc:exclude-mapping path="/img/**"/>
            <bean class="com.tzg.xhd.tbooking.Interceptor.UserInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

    <bean id="validator"
          class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="providerClass" value="org.hibernate.validator.HibernateValidator" />
        <!-- 如果不加默认到 使用classpath下的 ValidationMessages.properties -->
        <property name="validationMessageSource" ref="messageSource" />
    </bean>

    <bean id="messageSource"
          class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>classpath:org/hibernate/validator/ValidationMessages</value>
            </list>
        </property>
        <property name="useCodeAsDefaultMessage" value="false" />
        <property name="defaultEncoding" value="UTF-8" />
        <property name="cacheSeconds" value="60" />
    </bean>

    <!--使用velocity模板，但文件后缀设置为html（.vm文件的图标太丑）-->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
        <property name="viewClass">
            <value>org.springframework.web.servlet.view.velocity.VelocityView</value>
        </property>
        <property name="contentType"><value>text/html;charset=UTF-8</value></property>
        <property name="suffix">
            <value>.html</value>
        </property>
    </bean>


    <!-- velocity视图解析器配置 -->
    <bean id="velocityConfigurer"
          class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <property name="resourceLoaderPath" value="/WEB-INF/views/" />
        <property name="velocityProperties">
            <props>
                <prop key="input.encoding">UTF-8</prop>
                <prop key="output.encoding">UTF-8</prop>
                <prop key="contentType">text/html;charset=UTF-8</prop>
            </props>
        </property>
    </bean>

    <!-- 上传文件 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
        <!-- 最大内存大小 -->
        <property name="maxInMemorySize" value="10240"/>
        <!-- 最大文件大小，-1为不限制大小 -->
        <property name="maxUploadSize" value="-1"/>
    </bean>

    <!--SwaggerConfig配置类注入-->
    <bean class="com.tzg.xhd.tbooking.config.SwaggerConfig"/>
</beans>