<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <script src="$!{www}/js/jquery-3.2.1.min.js"></script>
    <script src="$!{www}/js/layer/layer.js"></script>
    <srcipt src="$!{www}/js/bootstrap/bootstrap.min.js"></srcipt>
    <link rel="stylesheet" href="$!{www}/css/bootstrap/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="form row">
        <div class="form-horizontal col-md-offset-3">
            <h3 class="form-title index_title">Register</h3>
            <div class="col-md-9">
                <form class = "register_form">
                <div class="form-group">
                    <label for="Username">Username</label>
                    <input type="text" class="form-control" id="Username" placeholder="Username">
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>